<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %thread %logger{150} %X{akkaSource} - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>