<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="NAME" value="typelevel-demo"/>
    <property name="GROUP" value="personal-projects"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}",
                        }
                    </pattern>
                </pattern>
                <message>
                    <fieldName>log</fieldName>
                </message>
                <nestedField>
                    <fieldName>app</fieldName>
                    <providers>
                        <loggerName/>
                        <threadName/>
                        <logLevel/>
                        <logLevelValue/>
                        <stackTrace/>
                        <context/>
                        <mdc/>
                        <pattern>
                            <pattern>
                                {
                                "group":"${GROUP}",
                                "name":"${NAME}"
                                }
                            </pattern>
                        </pattern>
                        <tags/>
                        <logstashMarkers/>
                        <arguments/>
                    </providers>
                </nestedField>
            </providers>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="ASYNC"/>
    </root>

    <logger name="DoobieLogger" level="${DOOBIE_LOG_LEVEL:-WARN}"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="kafka" level="WARN"/>

</configuration>
